__pycache__/
*.pyc
.venv/
*.log
airflow/logs/
airflow/plugins/
dbt/target/
dbt/logs/
dbt/packages/
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/.terraform.lock.hcl
secrets/*.p8
secrets/*.pub
secrets/*.b64
!secrets/.gitkeep
data/
